body {
  margin: 0;
  font-family: 'Fira Mono', monospace;
}

* {
  box-sizing: border-box;
}
/*
fonts family
font-family: 'Arvo', serif;
font-family: 'Fira Mono', monospace;
font-family: 'Roboto Mono', monospace;
*/

.header {
  align-items: center;
  color: black;
  display: flex;
  height: 100px;
  top: 0px;
  width: 100%;
  background-color: #221E40;
  justify-content: space-between;
}

.header__img {
  margin-left: 30px;
  width: 100px;
}

.header__container-info {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-right: 30px;
  margin: 3%;
  font-size: 20px;
}

.header__container-info a {
  text-decoration: none;
  color: #eaebef;
  margin-right: 50px;
}

.main {
  width: 100%;
  height: 500px;
  background-color: #1F1D59;
  display: flex;
  align-items: center;
/*  background-image: url("/kh2\ \(2\).jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;*/
}

.ppicture{
  width: 320px;
    height: 400px;
}

.main__container--perfil {
  width: 100%;
}
.main__name {
  display: flex;
  justify-content: flex-end;
  margin-right: -90px;
  margin-bottom: 130px;
}
.main__name h1 {
  z-index: 1;
  color: #5A98BF;
  font-size: 72px;
  text-align: right;
  text-align: inherit;
}

.main__name span {
  text-align: left;
  color: #1C418C;
}
.main__container--info {
  width: 100%;
  color: #CED9F7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__social {
  padding-left: 165px;
  display: flex;
  justify-content: space-evenly;
}

.main__social img {
  width: 30px;
  height: 30px;
}

.main__info {
  width: 50%;
}

.info__title {
  font-size: 16px;
  color: #53BCAE;
}

.main__container--info h2 {
  font-size: 18px;
  color: #CED9F7;
}

.main__container--info {
  font-size: 18px;
}
.section__container {
  display: flex;
  background-color: #010627;
  flex-direction: column;
}
.skills__picture {
  width: 60px;
  height: 60px;
}

.article__img {
  width: 150px;
  height: 150px;
}

.article {
  display: flex;
    align-items: center;
    margin: 30px 45px 0px 45px;
    background-color: #122140;
    border-radius: 20px;
    color: #C6D4F1;
}
