body {
  font-family: "Inconsolata", monospace;
  background-color: #0c1532;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.header__logo {
  width: 15%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.header__logo img {
  width: 100px;
}

.header__links {
  width: 40%;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.links__name {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.main__bio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 550px;
}

.main__bio--container {
  grid-column: 1;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.bio__name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

.bio__name h1 {
  font-family: "Roboto Mono", monospace;
  font-size: 72px;
  color: #fff;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.bio__text {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.bio__text p {
  grid-row: 1;
  color: white;
  font-size: 18px;
  margin-left: 140px;
  display: flex;
}

.bio__skills--container {
  display: flex;
  justify-content: center;
  margin-left: 125px;
}

.skills__pictures {
  display: flex;
  justify-content: space-between;
  width: 304px;
}

.skills__pictures img {
  grid-row: 2;
  width: 60px;
  height: 60px;
}

.bio__img {
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bio__img img {
  width: 320px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 12px 12px 12px 12px rgb(0 0 0 / 20%);
}

.main__cursos {
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.cursos__container {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  box-shadow: 6px 6px 6px 6px rgb(0 0 0 / 20%);
  margin: 20px;
}

.cursos__container img {
  width: 400px;
  height: 300px;
}

.cursos__descripcion {
  margin-top: 0px;
}

.cursos__container2{
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  box-shadow: 6px 6px 6px 6px rgb(0 0 0 / 20%);
  margin: 20px;
}

.cursos__container2 img {
  width: 400px;
  height: 300px;
}

.cursos__container3{
  grid-column: 3;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  box-shadow: 6px 6px 6px 6px rgb(0 0 0 / 20%);
  margin: 20px;
}

.cursos__container3 img {
  width: 400px;
  height: 300px;
}

.cursos__container4{
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  box-shadow: 6px 6px 6px 6px rgb(0 0 0 / 20%);
  margin: 20px;
}

.cursos__container4 img {
  width: 400px;
  height: 300px;
}

.cursos__container5{
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  box-shadow: 6px 6px 6px 6px rgb(0 0 0 / 20%);
  margin: 20px;
}

.cursos__container5 img {
  width: 400px;
  height: 300px;
}

.cursos__container6{
  grid-column: 3;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  box-shadow: 6px 6px 6px 6px rgb(0 0 0 / 20%);
  margin: 20px;
}

.cursos__container6 img {
  width: 400px;
  height: 300px;
}


